{% extends 'base.html' %}
{% block title %}
Create new post
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Add Post.... </h1>
    <br />
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">Post</button>
    </div>
    <script>
        var user_id = "{{ user.id }}";
        document.getElementById("author").value = user_id;
    </script>
{% else %}
    You are not allowed
{% endif %}

{% endblock %}