{% extends 'base.html' %}

{% block title %}
{{ post.title_tag }}
{% endblock%}


{% block content %}


<h1>{{ post.title }}</h1>
<small> By: {{ post.author.first_name }}</small><br />
<small> {{ post.post_date }}</small>
<hr>
<p>{{ post.body|safe }}</p>

<br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br/>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST"> 
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
                Unlike
            </button>
        {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
                Like
            </button>
        {% endif %}
    {% endif %}
    {{ total_likes }} Likes
</form>


{% endblock %}