{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

<ul>
    {% for post in object_list %}
    <li> <a href="{% url 'detail' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }}
        {{ post.author.last_name}} -
        {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Edit</a>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a></br>
        {% endif %}
        {{ post.body|slice:":200" }}
    </li>
    {% endfor %}
</ul>

{% endblock %}