{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

<ul>
    {% for post in object_list %}
    <li> 
        <a href="{% url 'detail' post.pk %}">{{ post.title }}</a> -
        <a href="{% url  'category' post.category %}">{{ post.category }}</a> -
        {{ post.author.first_name }}
        {{ post.author.last_name}} -<br/>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Edit</a>
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
                </br>
            {% endif %}
        {% endif %}
        {{ post.snippet }}
    </li>
    {% endfor %}
</ul>

{% endblock %}