{% extends 'base.html' %}

{% block content %}
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="my-4">TECH BLOG
      <small>for Uighurs</small>
    </h1>

    <!-- Blog Post -->
    {% for post in object_list %}
        <div class="card mb-4">
        {% if post.header_image %}
            <a href="{% url 'detail' post.pk %}">
            <img class="card-img-top" src="{{ post.header_image.url }}" alt="Card image cap" height="300px">
            </a>
        {% else %}
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.snippet }}</p>
            <a href="{% url 'detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}" class="btn btn-info">Edit</a>
                    <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            Posted on January 1, 2020 by
            <a href="#">{{ post.author.first_name }}</a>
        </div>
        </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
      </li>
    </ul>

  </div>

  <!-- Sidebar Widgets Column -->
  {% include 'sidebar.html' %}
</div>
{% endblock %}